.flex-container>div{ width: 100px;
    height: 100px;
    background: red;        /*gradient-ongonii uusgalt*/
    transition: width 2s;
    background: rgb(2,0,36);/*transition-ongo oorchlogdoh*/
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%,
     rgba(121,9,96,0.5354516806722689) 35%,
      rgba(0,212,255,1) 100%);
  animation-name: example;      /*animation-hodoldog*/
    animation-duration: 4s;
}
@keyframes example {             /*ongo oorchlogdoh*/
    from {background-color: red;}
    to {background-color: yellow;}
  }
  h1 {    /**shadow-usgiin font**/
    text-shadow: 0 0 5px #FF0000;
  }
div:hover {
    width: 300px;
    height: 300px;
  }